<br>
<div class="card-wrapper">
  <div >
    <form [formGroup]="addForm" (ngSubmit)="addProduct()" id="addForm" autocomplete="off">
      <textarea formControlName="productName" type="text" name="productName" placeholder="Product Name" class="title" required></textarea>
      <br>

    <div class="wrapper">
      <br>
      <h5 class="details">DETAILS:</h5>
      <textarea formControlName="productDescription" name="productDescription" class="description" rows="6" required></textarea>
      <br>
      <img class="image" src="{{addForm.get('imageUrl')?.value}}">
      <br>
      <div class="price-tab mr-5 ">
        <h4>&nbsp;&nbsp;
          Total Price: ${{(addForm.get('productPrice')?.value - (addForm.get('productPrice')?.value * addForm.get('productSale')?.value /100)).toFixed(2)}} | Before Sale:</h4>
        <h5 style="margin-top:3px;float:left; text-decoration:line-through"> ${{addForm.get('productPrice')?.value}}</h5>
        <p style="margin-top: -8px; float:left;">{{addForm.get('productSale')?.value }}%&nbsp;&nbsp;</p>
        <br>
        <br>
        <br>
        <label style="margin-left:15px;">Product Price:&nbsp;</label><input type="number" formControlName="productPrice" name="productPrice" required>
        <br>
        <br>
        <label style="margin-left:15px; padding-left:1px;">Product Sale:&nbsp;</label><input type="number" formControlName="productSale" name="productSale" required>
      </div>

      <label style="color:white; margin-left:10px;"> Image Url:</label><br><textarea style="margin-left:10px; width:400px;" formControlName="imageUrl" name="imageUrl" rows="1" required></textarea>
      <br>
      <br>
      <button [disabled]="addForm.invalid" form="addForm" type="submit" class="btn btn-success btn-block">Add Product</button>
    </div>
  </form>
  </div>
</div>

