@use '@angular/material' as mat;
@include mat.core();

// $client-primary: mat.define-palette(mat.$indigo-palette);
// $client-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// $client-warn: mat.define-palette(mat.$red-palette);

// $client-theme: mat.define-light-theme((
//   color: (
//     primary: $client-primary,
//     accent: $client-accent,
//     warn: $client-warn,
//   )
// ));

// @include mat.all-component-themes($client-theme);

