@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Pacifico&family=Permanent+Marker&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Pacifico&family=Permanent+Marker&family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import "~ngx-tabset/ngx-tabset";

html { height: 100%; }

body{
  background: linear-gradient(90deg, rgb(13, 21, 20) 0%, rgb(12, 21, 19) 50%, rgb(13, 21, 20) 100%);
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

.btn{
	box-shadow: none !important;
}

.form-control{
  color:rgb(176, 176, 176) !important;
  box-shadow: 0px 2px rgba(0, 0, 0, 0.267) !important;
  box-shadow: none !important;
  background-color: rgba(29, 29, 29, 0.599) !important;
}

.form-control:focus,input:focus{
  box-shadow: none !important;
  background-color: rgba(29, 29, 29, 0.599) !important;
  color:rgb(255, 187, 0) !important;
}

.dropdown-item:focus{
  background-color: transparent  !important;
}

::placeholder {
  color:rgb(176, 176, 176) !important;
  opacity: 1;
}

:-ms-input-placeholder {
  color:rgb(176, 176, 176) !important;
}

::-ms-input-placeholder {
  color:rgb(176, 176, 176) !important;
}

