@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Pacifico&family=Permanent+Marker&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Pacifico&family=Permanent+Marker&family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
body{
  background: linear-gradient(90deg, rgb(21, 35, 32) 0%, rgb(12, 21, 19) 50%, rgb(21, 35, 32) 100%);
}

.btn{
	box-shadow: none !important
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
