@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Pacifico&family=Permanent+Marker&family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100&family=Pacifico&family=Permanent+Marker&family=Sedgwick+Ave&family=Sedgwick+Ave+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');
@import "~ngx-tabset/ngx-tabset";
body{
  background: linear-gradient(90deg, rgb(13, 21, 20) 0%, rgb(12, 21, 19) 50%, rgb(13, 21, 20) 100%);
  margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  height: 100%;
}

.btn{
	box-shadow: none !important
}


html { height: 100%; }


.hiddenText{ font-size: 0}             /* this makes span real content zero size width & height */
.hiddenText::before{ content: '∗∗∗∗∗'; font-size: initial}

.HiddenText{ color: transparent; }    /* span will be as long as real content + ::before */
.HiddenText::before{ content: '∗∗∗∗∗'; color: initial}


