.wrapper{
  background-color:White;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  width: 40%;
}
.nav-tab{
  margin-right:-50%;

}
.user{
  border:solid 1px black;
  width: 400px;
  margin: auto;
  cursor:default;
}

#edit{
  border:none;
  text-decoration: underline;
  color:red;
  background-color:transparent;
}

#title{
  text-decoration: underline;
  display:inline;
  font: bold 100% "Lucida Sans Unicode",sans-serif;
}

.form-control{
  width:350px;
  margin:0 auto;
}

.edit-password{
  display:flex;
  flex-direction:row;
  width:350px;
  margin:0 auto;
  padding:2px;
}

.qr{
  overflow: hidden;
  margin-left:250px;
}

#send-email{
  border-radius: 0px 3px 3px 0px;
  height:36px;
  margin-left:-42px;
  margin-top:1px;
}

input{
	box-shadow: none !important;
  flex-grow:2;
}


#passw{
  background-color:transparent;
  border:none;
  text-align: center;
  margin:0;
}

.card-footer{
  margin:0;
  margin-bottom: 15px;
}
