*{
  display:block;
}

.ngx-gallery{
  float:left;
  margin-left: 15px;
 background-color: rgb(240, 240, 240);
 border: solid 1px rgb(219, 219, 219);
 border-left: none;
 border-bottom: none;
 border-top: none;
}

.price-tab{
  cursor: default;
  text-shadow: 0px 0px 2px #000000;
  width:max-content;
  border-radius:15px;
  padding-top:9px;
  padding-bottom:5px;
  margin-bottom: 5px;
  background: linear-gradient(90deg, rgb(255, 0, 0) 0%, rgb(129, 50, 255) 100%);
  color:white;
  overflow: auto;
  margin-left: 4px;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
}

.details{
  cursor: default;
   margin-left:7px;
   font-family: 'Poiret One', cursive;
   font-weight: bolder;
   font-size: 20px;
}

.description{
  cursor: default;
  margin-top: 5px;
  overflow: auto;
  margin-left: 8px;
  line-height: 30px;
}

.add-cart{
  display:inline-block;
  width:200px;
  height:35px;
  transition:transform 0.2s;
  animation-duration: 1.4s;
  animation-delay:0.5s;
  animation-timing-function:ease-in-out;
  border:none;
  border-radius:5px;
  background: orange;
}

.add-cart:hover{
  transform:scale(1.03);
  color:white;
  text-shadow: 0px 0px 1px #000000;
}

#myPaypalButtons{
  float:left;
  margin-left:5px;
  margin-right: 5px;
  max-width:250px;
}

.ngx-gallery::ng-deep .ngx-gallery-icon{
  color: rgb(123, 127, 161);
}

#strike{
  border:solid 0.5px rgb(192, 183, 183);
  float:left;
  margin-left:30px;
  width:94%;
}

.wrapper{
  border:solid 1px rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.924);
  border-radius: 0px 2px 2px 0px;
  padding-bottom:148px;
  height:450px;
  overflow:auto;
}

.card-wrapper{
  margin-left: 18vh;
  width: 82%;
}

.success{
  width: 200px;
  height: 35px;
  border: none;
  text-align: center;
  margin-top: 11px;
  border-radius: 3px;
  background-color: rgba(46, 255, 175, 0.76);
  animation: fade-in linear forwards;
  animation-duration: 3s;
  cursor: default;
}

.title{
  cursor: default;
  display: inline-block;
  background-color:rgba(255, 255, 255, 0.493);
  margin-left:15px;
  border-radius:5px 5px 0px 0px;
  margin-bottom: -10px;
  padding-bottom:12px;
  padding-left: -4px;
  font-family: 'Poiret One', cursive;
  font-weight: bolder;
  font-size: 30px;
}

.title,#add-cart,#des{
  text-shadow: 0px 0px 2px #fffafa;
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {

    opacity: 0;
  }
}


@media  (max-width: 1558px) {
  .card-wrapper{
    margin-left:300px;
    display:inline-block;
  }
  .wrapper{
    width:499px;
    margin-left:25px;
  }

  #strike{
    width:80%;
  }

  .title{
    margin-left:15px;
    width:999px;
  }
}

@media  (max-width: 1500px) {
  .card-wrapper{
    margin-left:190px;
}
}

@media  (max-width: 1450px) {
  .card-wrapper{
    margin-left:130px;
}
.title{
  width:999px;
}
}

@media  (max-width: 1280px) {
  .card-wrapper{
    margin-left:130px;
}
.wrapper{
  margin-left:15px;
}
}

@media  (max-width: 1270px) {
  .card-wrapper{
    margin-left:320px;
}
.title{
  width:500px;
}
}

@media  (max-width: 1114px) {
  .card-wrapper{
    margin-left:300px;
}
.title{
  width:500px;
}
}

@media  (max-width: 1020px) {
  .card-wrapper{
    margin-left:270px;
}

}

@media  (max-width: 978px) {
  .card-wrapper{
    margin-left:230px;
}

}

@media  (max-width: 930px) {
  .card-wrapper{
    margin-left:210px;
}


}

@media  (max-width: 880px) {
  .card-wrapper{
    margin-left:180px;
}

}

@media  (max-width: 845px) {
  .card-wrapper{
    margin-left:145px;
}

}

@media  (max-width: 760px) {
  .card-wrapper{
    margin-left:115px;
}
}

@media  (max-width: 720px) {
  .card-wrapper{
    margin-left:95px;
}
}

@media  (max-width: 660px) {
  .card-wrapper{
    margin-left:75px;
}
}

@media  (max-width: 600px) {
  .card-wrapper{
    margin-left:45px;
}
}

@media  (max-width: 550px) {
  .card-wrapper{
    margin-left:25px;
}

}

@media  (max-width: 510px) {
  .card-wrapper{
    margin-left:-15px;
}
}
