<br>
<div class="search">
      <input class="form-control" type="text" name="search" [(ngModel)]="searchText" placeholder="&#xF002;  Search..." autocomplete="off">
<br>
    </div>
<table>
  <div class="wrapper">
   <div style="float:left;"  *ngFor="let product of products | filter:searchText">
    <td>
      <div class ="card" >
        <img [routerLink]="['/products', product.id]" class="card-img-top" src="{{product.imageUrl}}">
      </div>
      <p>{{product.name}}</p><div class="sale">&nbsp;&nbsp;&nbsp;&nbsp;-{{product.sale}}%</div>
      </td>
      <br>
</div>
</div>
</table>


<!-- <table>
  <div class="wrapper">
   <div style="float:left;"  *ngFor="let product of products | randomOrder">
    <td>
      <div class ="card" >
        <img [routerLink]="['/products', product.id]" class="card-img-top" src="{{product.imageUrl}}">
      </div>
      <p>{{product.name}}</p><div class="sale">&nbsp;&nbsp;&nbsp;&nbsp;-{{product.sale}}%</div>
      </td>
      <br>
</div>
</div>
</table> -->
