.wrapper{
  background-color:White;
  border-radius: 5px;
  text-align: center;
  margin: auto;
  width: 40%;
}

.wrap{
  background-color: rgba(55, 55, 55, 0.697);
  color:rgb(222, 216, 251);
  font-weight: border;
  margin-top: 5px;
  border-radius: 3px;
  margin-bottom: 5px;
  width:700px;
  font-family: 'Fredoka', sans-serif;
  margin-left:2.2%;
}
