
<br><br>
<div class="wrapper">
<h3 style="font-family: 'Poiret One', cursive;">My Cart</h3>

<div class="cart-item" *ngFor="let item of items let i = index ">
  <span>{{ item.name }}</span>
  <span style="color:crimson;">&nbsp; Price: ${{ (item.price - (item.price * item.sale / 100)).toFixed(2) }}</span><button class="remove" (click)="removeItem(i)"> <i class="fa fa-trash"></i></button><br>
</div>

<br>
<h5 style="font-family: 'Poiret One', cursive; font-weight: bolder;">Total: ${{this.totalPrice}}</h5>
<div id="myPaypalButtons"></div>
<br>
</div>
