*{
    display:block;
}

.checkout{
  background-color: #1f1f1f;
  color: white;
 border:none;
 border-radius: 5px;
 text-align:center;
 display:inline-block;
 margin:5px;
 margin-left:-2px;
}

#myPaypalButtons{
    max-width:250px;
    margin: auto;
  }

  .remove{
    border:none;
    border-radius: 5px;
    display:inline-block;
    width:100px;
    height:25px;
  }

  .wrapper{
    background-color:White;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    width: 40%;
  }


@media (max-width:1000px){
.wrapper{
  width:400px;
}
}

@media (max-width:600px){
  .wrapper{
    width:300px;
  }
}
