<br>
<div class="wrapper">
<table>
  <h5 class="similar-products pt-1">SIMILAR PROUDCTS</h5>
  <div class="card-wrapper">
    <br>
  <div style="float:left" *ngFor="let product of products | randomOrder | slice:0:5; let i=index">
    <td>
      <div class ="card">
        <img id="product-detail" [routerLink]="['/products', product.productId]"  class="card-img-top" src="{{product.imageUrl}}">
      </div>
      <p>{{product.productName}}</p><div class="sale">-{{product.productSale}}%</div>
      </td>
</div>
</div>
</table>
</div>
