
<div class="article">
  <img class="img-cover" src="../assets/cover.png">
<div class="home-container">
  <div class="wrapper">
    <br>
    <br>
<p class="title">Welcome To cs:go skins !</p>
<div class="details">
  <br>
  <br>
<h4> This is an example of a web store I made using Angular framework.</h4>
</div>
<br>
<div class="steps-container">
<div class="steps">
  <img id="step" src="../assets/home-logo_1.png">
  <img id="step" src="../assets/home-logo_2.png">
  <img id="step" src="../assets/home-logo_3.png">
</div>
<div class="step-details">
  <div class="one">
    <h5 style="margin-left:190px;">Step One </h5>
    <p style="margin-left:140px; text-align:center; width:150px;">You place an order from our online store</p>
  </div>
  <div class="two">
    <h5 style="margin-left:440px; margin-top:-85px;">Step Two </h5>
    <p style="margin-left:370px; width:180px; text-align:center;">We receive your order</p>
  </div>
  <div class="three">
    <h5 style="margin-left:680px; margin-top:-65px;">Step Three </h5>
    <p style="margin-left:620px; width:180px; text-align:center;">Our supplier prepares your order</p>
  </div>
  </div>
</div>
</div>
<br>
<button class="btn btn-danger"(click)="info=!info">{{info?'close':'info'}}</button>
<br>
<br>
<br>
<div *ngIf="info">
<h1 class="info-title">About Counter Strike: Global Offensive Skins</h1>
<h2 class="info-desc">Counter Strike is an online First Person Shooter free to play game that you can get from <a href="https://store.steampowered.com/app/730/CounterStrike_Global_Offensive/">Steam</a></h2>
<h2 class="info-desc"> <a href="https://steamcommunity.com/market/search?q=&category_730_ItemSet%5B%5D=any&category_730_ProPlayer%5B%5D=any&category_730_StickerCapsule%5B%5D=any&category_730_TournamentTeam%5B%5D=any&category_730_Weapon%5B%5D=any&appid=730"> cs:go  marketplace</a> is one of the largest in the whole gaming world!</h2>
<h2 class="info-desc">Skins are like paint for your weapons, There are some very rare and expensive skins in the marketplace, some reaching above 20k$</h2>
<br>
<h1 class="info-title">About The Project</h1>
<h2 class="info-desc">You can register as a new user or login to be able to view the products</h2>
<h2 class="info-desc">You can edit your profile information name, address, credit card info etc</h2>
<h2 class="info-desc">You can reset your user password by sending a validation code to your email via SMTP or by QR</h2>
<h2 class="info-desc">You can place an order via PayPal or by the chekout page</h2>
<h2 class="info-desc">Admin can create update and delete products</h2>
</div>
</div>
</div>
<br>
