
<div class="article">
<br>
<div class="home-container">
  <div class="wrapper">
  <img class="img-fluid" src="../assets/img.png">
<p class="title">Welcome to DropShipping !</p>
<div class="details">
<h4> This is an example of a drop shipping website I made using Angular framework.</h4>
</div>
<br>
<div class="steps-container">
<div class="steps">
  <img id="step" src="https://cdn.shopify.com/shopifycloud/brochure/assets/seo/dropshipping/one-small-d34512f7a951dd7066b1cd0590275ca992c293c0b559333a466c385cef46e1f0.jpg">
  <img id="step" src="https://cdn.shopify.com/shopifycloud/brochure/assets/seo/dropshipping/two-small-1822630e4dbe1f995546199574d00a9ca9478ffed033a0e218ec36595038951e.jpg">
  <img id="step" src="https://cdn.shopify.com/shopifycloud/brochure/assets/seo/dropshipping/three-small-24202d83af11a93522054b99e9baee842debae3f7d77a9e0ee99f4e95ec3ad7f.jpg">
  <img id="step" src="https://cdn.shopify.com/shopifycloud/brochure/assets/seo/dropshipping/four-small-b7dad55a672f5d5e68821319eb004f1e18b0b5323eeab0ed900bcc76760b2d9f.jpg">
</div>
<div class="step-details">
  <div class="one">
    <h5 style="margin-left:190px;">Step One </h5><p style="margin-left:160px; text-align:center; width:150px;">You place an order from our online store</p>
  </div>
  <div class="two">
    <h5 style="margin-left:440px; margin-top:-94.5px;">Step Two </h5><p style="margin-left:390px; width:180px; text-align:center;">We order your package from the supplier</p>
  </div>
  <div class="three">
    <h5 style="margin-left:680px; margin-top:-94.5px;">Step Three </h5><p style="margin-left:640px; width:180px; text-align:center;">Our supplier prepares your order</p>
  </div>
  <div class="four">
    <h5 style="margin-left:920px; margin-top:-94.5px;">Step Four </h5><p style="margin-left:870px; width:180px; text-align:center;">Your order is shippped directly to you !</p>
  </div>
  </div>
</div>
</div>
<br>
</div>
</div>

