* {
  display: block;
}

nav {
  border-radius: 0px 0px 10px 10px;
  margin: auto;
  width: 98%;
  background-color: rgba(31, 31, 31, 0.785);
}

.form-control:focus {
  box-shadow: none;
  }

.checkout {
  margin-left: 90%;
  padding: 9px;
  width: 35px;
  height: 35px;
  transition-duration: 0.3s;
  text-decoration: none;
}

.navbar-brand {
  font-family: 'Sedgwick Ave', cursive;
  color: rgb(232, 133, 241) !important;
  text-shadow: 1px 3px #424242;
}

.navbar-brand:hover {color: rgb(196, 1, 214);}

.nav-link {font-size: 17px;}

.checkout::before {
  position: absolute;
  background: #ffee10;
  transition: .5s;
  transform: scale(.9);
  z-index: -1;
}

.checkout:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #ffee10;
}

.checkout:hover {
  color: #ffee10;
  text-shadow: 0 0 5px #ffee10;
}
.fa-user::before {
  position: absolute;
  transform: scale(.9);

}
.fa-user:hover::before {transform: scale(1.1);}

.fa-user:hover{
  color: #ffee10;
  text-shadow: 0 0 5px #ffee10;
}

.fa-user{
  color:rgba(0, 115, 255, 0.886);
   margin-left:5px;
   margin-top:-7.7px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.nav-link.active {color: rgb(148, 148, 148);}

.nav-link,.nav-item {color: white;}

#dropdown-item-logout:hover,#dropdown-item-logout-admin:hover{color: red;}

#dropdown-item-logout-admin,
.dropdown-toggle,
.dropdown-item {
  color:white;
  cursor: pointer;
}

.dropdown{margin-bottom:18px;}

.dropdown-item:hover {
background-color: transparent;
color:white;
}

.dropdown-menu {
  border-radius: 0px 0px 10px 10px;
  background-color: rgba(31, 31, 31, 0.785);
  background: faded;
  box-shadow: 0 8px 15px 6px rgba(0, 0, 0, 0.2);
  margin-left: -85px;
  margin-top:25px;
}

.btn.btn-outline-success:disabled {background-color: rgb(19, 19, 19)}

.btn.btn-outline-success {
  background-color: rgb(5, 5, 5);
  border: solid 0px;
  transition: transform 0.2s;
  animation-duration: 1.4s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
}

.btn.btn-outline-success:hover:disabled {
  transform: scale(1);
  background-color: rgb(25, 26, 25);
  border: solid 0px;
  cursor: default;
}

.btn.btn-outline-success:hover {
  cursor: pointer;
  background-color: rgb(43, 251, 113);
  color: rgb(25, 26, 25);
}

#bann {
  color: rgb(223, 4, 4);
  font-family: Brush Script MT;
  font-style: cursive;
}

span {
  border: 1px solid black;
  display: inline-block;
  width: 100%;
}

.img {
  max-height: 50px;
  border: 2px solid rgb(0, 53, 70);
  display: inline;
  margin-right: 1rem;
  border-radius: 50px;
}

#username {
  width: 120px;
  margin-bottom: -38px;
  margin-left: -150px;
}

#password {
  margin-left: -20px;
  width: 190px;
}

.login {
  margin-top: -38px;
  margin-left: 185px;
}

.user-input {margin-right: 140px;}


#register {
  margin-top: -35px;
  margin-left: 256px;
  height:34px;
  transition: transform 0.2s;
  animation-duration: 1.4s;
  animation-delay: 0.5s;
  animation-timing-function: ease-in-out;
}

.dropdown .dropdown-menu {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  max-height: 0;
  display: block;
  overflow: hidden;
  opacity: 0;
}

.dropdown.open .dropdown-menu {
  max-height: 300px;
  opacity: 1;
}



@media (max-width:1800px) {
  .checkout {
    margin-left: 80%;
  }
}

@media (max-width:1200px) {
  .checkout {
    margin-left: 70%;
  }
}

@media (max-width:840px) {
  .checkout {
    margin-left: 60%;
  }
}

@media (max-width:740px) {
  .checkout {
    margin-left: 60%;
  }
}

@media (max-width:730px) {
  .checkout {
    margin-left: 55%;
  }
}

@media (max-width:730px) {
  .checkout {
    margin-left: 55%;
  }
}

@media (max-width:660px) {
  .checkout {
    margin-left: 50%;
  }
}

@media (max-width:620px) {
  .checkout {
    margin-left: 45%;
  }
}


@media (max-width:580px) {
  .checkout {
    margin-left: 40%;
  }
}

@media (max-width:560px) {
  .checkout {
    margin-left: 35%;
  }
}
